
body {
  margin: 0px;
  background-image: url("/imgs/bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hc-container {
  display: block;
  height: 90%;
}

#nav-menu {
  display: block;
}

#nav-menu a {
  display: block;
  width: 100%;
  padding: 15px 0px;
  font-size: 60px;
  font-family: serif;
  text-decoration: none;
  color: #868686;
  transition-duration: 200ms;
}

#nav-menu a:hover {
  color: white;
}

::-webkit-scrollbar {
  display:none;
}
