
.hypercollage {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  height: 0px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.layer-hc .hypercollage {
  position: absolute;
  top: 0px;
  left: 0px;
}

.hypercollage img {
  display: block;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  align-self: stretch;
  mix-blend-mode: difference;
}
